body {
    color: #666;
    font-family: Verdana, sans-serif;
    font-size: medium;
}

.main-title {
    font-size: 48px;
    padding: 25px 0 0 0px;
}

.sub-title {
	color: #f07c17;
    font-size: 24px;
    font-weight: bold;
}

.box-border {
	border: 1px solid #cccccc !important;
}
.content {
    
}

.mockup-overlay {
       top: 0;
       position: absolute;
       z-index: -1;
       opacity: .4;
}

.feature-box {
    margin: 30px 0 0 0;
    padding: 11px 0 0 30px;
    border: 1px solid #cccccc;
    min-height: 223px;
    max-width: 375px;
}

.feature-list {
    padding-top: 17px;
    line-height: 33px;
}

.article {
    padding-top: 21px;
    line-height: 2em;
}

/*Columns*/
.left-column {
    max-width: 404px;
}
.image-column {
    max-width: 388px;
    padding: 22px 0 0 15px;
}
.right-column {
    width: 565px;
}

/*Rows*/